body {
  font-family: "Commissioner", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  position: relative;
}

.header {
  background-image: url("../images/image-hero-mobile.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 300px;
  max-height: 300px;
  position: relative;
}

.logo {
  position: absolute;
  left: 24px;
  top: 32px;
}

.nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.main-content {
  background-color: #f2f2f2;
  position: relative;
  max-height: 2371px;
}

.main-content__inner-wrapper {
  padding-left: 24px;
  padding-right: 24px;
}

.component {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 40px;
  margin-bottom: 24px;
  background-color: #fff;
}

.btn-primary {
  background-color: #3cb3ab;
  color: #fff;
  font-weight: 700;
  border-style: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #3cb3ab !important;
  background-color: #147b74 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-primary:disabled, .btn-primary[disabled], .btn-primary:disabled:hover, .btn-primary[disabled]:hover {
  background-color: #7a7a7a !important;
}

.pledge-left {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 24px;
}

.pledge-left span {
  font-size: 15px;
  color: #7a7a7a;
  font-weight: 400;
}

.project {
  position: absolute;
  top: -52px;
  left: 24px;
  right: 24px;
  height: 284px;
}

.project__logo {
  height: 28px;
  margin-bottom: 24px;
}

.project__logo img {
  position: -webkit-sticky;
  position: sticky;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.project__title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.project__title span {
  display: block;
}

.project__description {
  text-align: center;
  font-size: 0.875rem;
}

.project__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__bookmark .bookmark-text {
  display: none;
}

.summary {
  position: absolute;
  top: 256px;
  left: 24px;
  right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  height: 412px;
}

.summary__item {
  text-align: center;
  padding-bottom: 24px;
  position: relative;
}

.summary__item h2 {
  font-size: 2rem;
  font-weight: 700;
}

.summary__item h2 span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-top: 9px;
  margin-bottom: 24px;
  color: #7a7a7a;
}

.summary .divider {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80px;
  border-bottom: 1px solid #7a7a7a;
  opacity: 0.15;
}

.summary .progress {
  width: 100%;
}

.summary .progress-bar {
  background-color: #3cb3ab;
}

.about {
  position: absolute;
  top: 692px;
  left: 24px;
  right: 24px;
  max-height: 1655px;
  padding-top: 40px;
  font-size: 0.875rem;
  line-height: 1.5;
}

.about h1 {
  font-size: 18px;
  margin-bottom: 24px;
  font-weight: 700;
}

.about .reward-type {
  padding: 24px;
}

.about .reward-type--first {
  margin-top: 35px;
}

.about .reward-type h3 {
  font-size: 14px;
  font-weight: 700;
}

.about .reward-type__pledge {
  font-size: 14px;
  font-weight: 500;
  color: #3cb4ac;
}

.about .reward-type.outOfStock h3,
.about .reward-type.outOfStock p,
.about .reward-type.outOfStock .pledge-left,
.about .reward-type.outOfStock .btn-primary {
  opacity: 0.4;
}

.about .reward-type.outOfStock .btn-primary {
  background-color: #979797;
}

.pledge-modal-wrapper,
.success-modal-wrapper {
  display: none;
}

.pledge-modal-wrapper.show {
  display: block;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 121px 24px 900px 24px;
}

.pledge-modal-inner {
  background-color: #fff;
  font-size: 14px;
  line-height: 1.5;
  z-index: 2;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 32px 24px;
  border-radius: 8px;
}

.pledge-modal-inner .inner-col {
  padding: 0;
}

.pledge-modal-inner .pledge-modal-close {
  cursor: pointer;
}

.pledge-modal-inner header nav {
  margin-bottom: 24px;
}

.pledge-modal-inner header h4 {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.pledge-modal-inner header p {
  margin-bottom: 24px;
}

.pledge-modal-inner .pledge {
  padding: 33px 0;
}

.pledge-modal-inner .pledge.componentSelected {
  border: 1px solid #3cb3ab;
}

.pledge-modal-inner .pledge.componentDeactivated .form-check-label {
  opacity: 0.4;
}

.pledge-modal-inner .pledge.componentDeactivated main .pledge-left,
.pledge-modal-inner .pledge.componentDeactivated main p {
  opacity: 0.4;
}

.pledge-modal-inner .pledge .form-check,
.pledge-modal-inner .pledge main,
.pledge-modal-inner .pledge footer {
  padding-left: 24px;
  padding-right: 24px;
}

.pledge-modal-inner .pledge .form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 33px;
}

.pledge-modal-inner .pledge .form-check-input {
  height: 24px;
  width: 24px;
  margin: 0;
  margin-right: 16px;
  display: block;
  position: static;
  border-style: none !important;
}

.pledge-modal-inner .pledge .form-check-label {
  display: block;
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

.pledge-modal-inner .pledge .form-check-label .pledge-amount {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #3cb3ab;
}

.pledge-modal-inner .pledge .form-check-input, .pledge-modal-inner .pledge .form-check-label {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pledge-modal-inner .pledge main p {
  color: #7a7a7a;
  margin-bottom: 0;
}

.pledge-modal-inner .pledge main .pledge-left {
  margin-top: 1em;
  margin-bottom: 0;
}

.pledge-modal-inner .pledge footer {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 24px;
  text-align: center;
  display: none;
}

.pledge-modal-inner .pledge footer.show {
  display: block;
  margin-top: 24px;
}

.pledge-modal-inner .pledge footer .form-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pledge-modal-inner .pledge footer .form-main .input-symbol {
  position: relative;
}

.pledge-modal-inner .pledge footer .form-main .input-symbol::before {
  position: absolute;
  top: 50%;
  left: 1.5em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "$";
  font-size: 0.875rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.25);
}

.pledge-modal-inner .pledge footer .form-main input {
  width: 6.25em;
  margin-right: 1em;
  text-indent: 1.75em;
  color: #000;
  font-size: 0.875rem;
  font-weight: 700;
}

.pledge-modal-inner .pledge footer .form-main .btn-continue {
  width: 7.1875em;
}

.pledge-modal-inner .pledge .form-check .input[type="radio"]:checked {
  background-color: #3cb4ac !important;
}

.success-modal-wrapper.show {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 143px 40px 2000px 40px;
  background-color: rgba(0, 0, 0, 0.5);
}

.success-modal-wrapper.show .success-modal-inner {
  display: block;
  background-color: #fff;
  border-radius: 8px;
}

.success-modal-wrapper.show .success-modal-inner .inner-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 24px 40px 24px;
}

.success-modal-wrapper.show .success-modal-inner .inner-col header {
  margin-bottom: 24px;
}

.success-modal-wrapper.show .success-modal-inner .inner-col main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.success-modal-wrapper.show .success-modal-inner .inner-col main h5 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 24px;
}

.success-modal-wrapper.show .success-modal-inner .inner-col main p {
  font-size: 14px;
  margin-bottom: 0;
  color: #7a7a7a;
}

.success-modal-wrapper.show .success-modal-inner .inner-col main button {
  font-size: 14px;
  margin-top: 31.5px;
  padding: 15px 33.5px;
}
/*# sourceMappingURL=style.css.map */